@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');
@import "./variables.scss";

.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    background-color: $lightgrey;
    .content{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: min(1400px, 100vw);
        height: max-content;
        padding-bottom: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        h1{
            font-family: 'ICA Rubrik';
            font-size: 8em;
            line-height: 2em;
            color: #252838;
            position: relative;

            &::after{
                position: absolute;
                inset: 0 0 0 0;
                content: attr(data-content);
                z-index: 2;
                -webkit-text-stroke: 2px #d2d2d2;
                color: transparent;
            }
        }
        h2{
            font-size: 3em;
            color: whitesmoke;
        }
        .author{
            font-family: 'Poppins';
            text-align: right;
            max-width: 200px;
        }
        .model{
            background-image: url(../../public/assets/couple.png);
            width: 100%;
            height: 85vh;
            position: absolute;
            bottom: 0;
            left: 0;
            background-size: auto 130%;
            background-repeat: no-repeat;
            background-position: top center;
            z-index: 1;
        }
        
    }
    .slider{
        position: absolute;
        width: 200px;
        height: 250px;
        top: 10%;
        left: calc(50% - 100px);
        transform-style: preserve-3d;
        transform: perspective(1000px);
        animation: autoRun 20s linear infinite;
        z-index: 2;
        .item{
            position: absolute;
            inset: 0 0 0 0;
            transform:
             rotateY(calc((var(--position) - 1)*(360 / var(--quantity)) * 1deg))
             translateZ(550px);
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-12deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-12deg) rotateY(360deg);
    }
}